@using Examarbeta.Models.ViewModels
@using System.Globalization
@using Examarbeta.Helperfunction
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits UmbracoViewPage<ActiviteViewmodel>

@{
    Layout = "mainLayout.cshtml";
    var eventImage = Model.Content.Value<IPublishedContent>("eventImage");
}

<div class="event-card">
    <!-- Event Header -->
    <div class="event-card-header">
        <h3>@Model.Content.Title</h3>
    </div>

    <!-- Event Images -->
    <div class="event-card-images">
        @if (Model.Content.AdditionalImages != null && Model.Content.AdditionalImages.Any())
        {
            @foreach (var image in Model.Content.AdditionalImages)
            {
                <!-- Kontrollera om 'image' är av typen 'IPublishedContent' -->
                <img src="@image.Url()" alt="Event Image" class="event-image" />
            }
        }
        else
        {
            <p>No images available</p>
        }
    </div>
    <!-- Event Info -->
    <div class="event-card-info">
        <div class="info-container">
            <p class="text-gray35">@Model.Content.EventDate.ToString("MMMM dd, yyyy")</p>
        </div>
        <div class="info-container">
            <p class="text-gray35">@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "sv" ? "Plats: " : "Place: ")@Model.Content.EventPlace</p>
        </div>
        <div class="info-container">
            <p>
                @(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "sv" ? "Pris: " : "Price: ")
                @Model.Content.EventPrice
            </p>
        </div>
        <div class="info-container">
            <p>
                @(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "sv" ? "Kapacitet: " : "Capacity: ")
                @Model.Content.EventCapacity
            </p>
        </div>
        <div class="info-container">
            <p>
                @(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "sv" ? "Ägare: " : "Owner: ")
                @Model.Content.EventOwner
            </p>
        </div>

        <div class="event-card-description">
        @Html.Raw(Model.Content.EventDescription?.ToString().RemoveHtmlTags() ?? string.Empty)

        </div>
    </div>
    <div class="info-container">
        @*  <a class="btn-white" href="@Model.Content.EventUrl"> *@
            @(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "sv" ? "Gå till eventet" : "Go to Event")
        </a>
    </div>

</div>
